@page
@model RadarModel
@{
    ViewData["Title"] = "Radar";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3> Now there are @Model.PositionsData.Count(d => !d.Position.Finished) magic carpets in the air</h3>
    <table>
        <thead>
        <tr>
            <th>Aerial vehicle</th>
            <th>Location</th>
            <th>Last connection time</th>
            <th>Company</th>
            <th>Contact address</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cp in Model.PositionsData.Where(d => !d.Position.Finished))
        {
            <tr>
                <td>@cp.Position.Label</td>
                <td>(@cp.Position.X; @cp.Position.Y)</td>
                <td>-</td>
                <td>@cp.Company</td>
                <td>@cp.Login@@carpetradar24.ru</td>
            </tr>
        }
        </tbody>
    </table>
</div>